<div class="home-container" ng-controller="homeCtrl">
    <div class="title-wrapper">
    	<h2 class="title">Ingresar como</h2>
    </div>
    <div class="option-wrapper">
        <div class="btn-wrapper admin" ng-click="adminPress()">
            <a class="waves-effect waves-light btn-large"><i class="material-icons left">supervisor_account</i>Administrador</a>
        </div>
        <div class="btn-wrapper" ng-click="userPress()">
            <a class="waves-effect waves-light btn-large"><i class="material-icons left">perm_identity</i>Estudiante</a>
        </div>
    </div>
</div>
