<!DOCTYPE>
<html>

<head>
    <title>Quiz Generator</title> 
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <!--CSS-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/bower_components/materialize/dist/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/bower_components/angular-toastr/dist/angular-toastr.min.css">
    <!--SCRIPTS-->
    <link rel="stylesheet/less" type="text/css" href="stylesheets/quizGenerator.less" />
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/materialize/dist/js/materialize.min.js"></script>
    <script src="bower_components/less/dist/less.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-toastr/dist/angular-toastr.min.js"></script>
    <script src="bower_components/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script src="config/app.js"></script>
    <!--CONTROLLERS-->
    <script src="javascripts/controllers/home.controller.js"></script>
    <script src="javascripts/controllers/createQuestions.controller.js"></script>
    <script src="javascripts/controllers/multipleAnswerForm.controller.js"></script>
    <script src="javascripts/controllers/trueFalseForm.controller.js"></script>
    <!--DIRECTIVES-->
    <script src="javascripts/directives/multipleAnswerForm.directive.js"></script>
    <script src="javascripts/directives/trueFalseForm.directive.js"></script>
</head>

<body ng-app="quizGeneratorApp">
    <div class="appContainer">
        <div ui-view></div>
    </div>
</body>

</html>
