<div class="tf-container">
    <div class="tf-form-wrapper">
        <div class="question-wrapper">
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">mode_edit</i>
                            <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
                            <label for="icon_prefix2">Pregunta</label>
                        </div>
                    </div>
                    <div class=" answer-wrapper row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix"> question_answer</i>
                            <select class="initialized">
                                <option value="">Escoja la respuesta</option>
                                <option value="1">Verdadero</option>
                                <option value="2">Falso</option>
                            </select>
                            <label>Respuesta</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
